<%= render 'pages/home' unless user_signed_in? %>

<% if @search %>
  <div class="well well-sm">
    Search results for: <em class="text-muted"><%= @search %></em>
  </div>
  <div id="pins" class="clearfix transitions-enabled">
    <%= render @pins %>
  </div>
<% else %>
  <div id="pins" class="clearfix transitions-enabled">
    <%= render @pins %>
  </div>
<% end %>

<div class="pagination-centered">
  <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
</div>
