<%= render 'pages/home' unless user_signed_in? %>

<div id="pins" class="clearfix transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(pin.image.url(:medium), class: 'img-responsive'), pin %>
      <div class="panel-body">
        <div class="pinDescription">
          <%= simple_format pin.description %>
        </div>
        <%= link_to users_path(pin.user), class: 'pinCredits' do %>
          <%= pin.user.username %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
