<ol class="breadcrumb">
  <li>
    <%= link_to 'Pins', pins_path %>
  </li>
  <li class="active">
    Pin <%= @pin.id %>
  </li>
</ol>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= image_tag @pin.image.url(:medium), class: 'center-block' %>
  </div>
  <div class="panel-body">
    <div class="pull-right">
      <% if @pin.user == current_user %>
        <p class="actions text-right">
          <small>
            <%= link_to edit_pin_path(@pin) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to @pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-remove"></span>
              Delete
            <% end %>
          </small>
        </p>
      <% end %>
    </div>

    <div class="pull-left">
      <%= simple_format @pin.description %>

      <p>
        <strong>
          <%= @pin.user.email %>
        </strong>
      </p>
    </div>
  </div>
</div>
