<div class="row">
  <div class="col-md-12">

    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', root_path %>
      </li>
      <li class="active">
        <%= @user.username %>
      </li>
    </ol>

  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= image_tag 'http://placehold.it/400x400', class: 'img-responsive center-block' %>
      </div>
      <div class="panel-footer">
        <h4>
          <%= @user.username %>
        </h4>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h3>
      <%= @user.username %>’s <%= @pins.count %> pin(s)
    </h3>
    <ul class="list-group">
      <% @pins.each do |pin| %>
        <li class="list-group-item">
          <span class="badge">
            <%= time_ago_in_words pin.created_at %> ago
          </span>
          <%= link_to pin do %>
            <%= pin.description.truncate(50, separator: ' ') %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
